body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
/*===========================slider ccs=====================*/
.slider-bg{
    background-color: #fceae8;
    padding: 70px 0;
    margin-top: 70px;
    margin-bottom: 70px;
}
.slider-title{
    padding-left: 60px;
}
.slider-title h2{
    font-size: 45px;
}
.slider-title p{
    font-size: 20px;
    margin-bottom: 20px;
}
.slider-button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 15px 25px;
}
/*===========================slider ccs========================*/
/*===========================shoes section=====================*/
.shoes-button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    margin-top: 40px;
}
/*===========================shoes section=====================*/
/*===========================Bagpack section=====================*/
.backpack-button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    margin-top: 60px;
}
/*===========================Bagpack section=====================*/
/*===========================subscribe section=====================*/
.subscribe-section{
    background-color: #fceae8;
}
.subscribe input{
    padding: 10px 0;
    border-radius: 10px;
    border: 1px solid #ddd;
}
.subscribe-button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    margin-top: 20px;
}
footer{
    margin-top: 90px !important;
}
/*===========================subscribe section=====================*/
@media only screen and (max-width:575.98px) {
   
    .header{
        padding: 0 20px !important;
    }
    .shoes-title, .backpack-title{
        margin-left: 20px;
    }
    .catagory, .shoes, .backpack{
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media only screen and (min-width:768px) and (max-width:991.98px) {
   
     .catagory, .shoes, .backpack{
        display: flex;
        justify-content: center;
        align-items: center;
     }
}
@media only screen and (min-width:768px) and (max-width:991.98px) {
   
     .subscribe h1{
        font-size: 33px !important;
        
     }
}
